#
# ignore these files and don't check them in
#
.DS_store
build.log
package.log
publish.log
**/.DS_store
**/target
**/*.iml
**/*.enc
**/.idea
**/catalina.base_IS_UNDEFINED
**_project/
**/artifacts
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/output.csv
!**/Count_validation_test-results.csv
!**/Testcases.csv
**/*.tmp
scratch.sh
scratch.log
all.sh
.build.success
.package.success
**/.mvn